.nav-top{
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
}
.nav-top h1{
    display: inline;
    font-size: 10px;
    line-height: 30px;
    color: #a5a3a3;
    margin-left: 150px;
    font-family: Verdana\,simsun;
}
.container{
    background: url(/assets/src/images/bg.jpg) no-repeat #f6f6f6;
}
body{
    margin: 0;
    padding: 0;
}
.red{
    color: #f10215;
}
a{
    cursor:pointer;
    text-decoration: none;
}
li{
    list-style: none;
}
.fl_right{
    position: absolute;
    right: 200px;
    top: 0;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
}
.fl_right li{
    float: left;
}
.c{
    margin: auto;
    width:1200px;
}
#header{
    height: 140px;

}
#header img{
    height: 140px;
    width: auto;
}
#category {
    width:1200px;
    height: 550px;
    margin: 0 auto;
}
#category ul{
    width: 200px;
    height: 500px;
    float: left;
    background-color: rgba(238, 238, 238, .95);
    padding-top: 30px;
}
#category li{
    height: 60px;
    line-height: 60px;
    color: #000;
    font-size: 14px;
}
.banner{
    width: 100%;
    height: 530px;
    position: absolute;
    margin-top: 16px;
}
.banner img{
    height: 530px;
    width: auto;
    margin-left: 240px;
}
.slider{
    position: absolute;
    margin: 500px 550px;
    z-index: 100;
}
.slider img{
    border-radius: 100%;
    margin-right: 30px;
}
.display{
    display: none;
}
.hover{
    background: #f10215;
}
.gameData{
    width: 1200px;
    margin: 0 auto;
}
.data-title{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 45px 0 0 20px;
    color: #3e5b51;
}
.data-title font{
    font-size: 18px;
    color: #aaa;
    font-weight: normal;
    padding: 0 8px;
}
.data-chapter{
    background: url(/assets/src/images/role_introduction_bg.jpg) no-repeat ;
    width: 100%;
    height: 400px;
}
.data-chapter ul{
    float: left;
    padding:0 60px 0 10px;
    width: 170px;
    margin-top: 0;
}
.data-chapter li{
    font-size: 20px;
    margin: 35px 0;
    font-weight: 700;
    padding-left: 20px;
    cursor: pointer;
    text-align: left;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
.data-chapter li.active{
    color: #93D3F9;
    background: url(/assets/src/images/Selected.png) no-repeat left;
}
.chapter-list{
    position: relative;
    margin-left: 170px;
    width: 100%;
}
.data-character{

}
.character-info{
    position: relative;
    width: 900px;
    height: 400px;
}
.character-info .show{
    left: 90px;
}
.character-info-con{
    position: absolute;
    left: -800px;
    top:40px;
    width: 400px;
    height: 160px;
}
.character-info-con a{
    position: absolute;
    height: 26px;
    line-height: 26px;
    border: 2px solid #2f2f2f;
    text-align: center;
    width: 90px;
    top:45px;
    font-size: 14px;
    right: 20px;
}
.character-info-con p{
    font-size: 14px;
    text-align: left;
    line-height: 30px;
    color: #2f2f2f;
}
.character-info-con img{
    position: absolute;
    top:-130px;
}
.character-info-con .showImg{
    left:600px;
}
.character-info-con h3{
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #343d42;
}

